<% @meetings.each do |meeting| %>
  <h5><%= meeting.date %></h5>
  <p><%= meeting.venue_name %></p>
  <p><%= meeting.venue_address %></p>
  <p><%= meeting.user_one_id %></p>
  <p><%= meeting.user_two_id %></p>
<% end %>
