<div class="cardsphotomeeting">
  <div class="image-chevauchement">
    <div class="avatar-large image-user-1">
      <% if current_user.photo.attached? && current_user.photo.key.present? %>
        <%= cl_image_tag current_user.photo.key %>
      <% else %>
        <%= image_tag("image_not_found.png") %>
      <% end %>
    </div>

    <div class="avatar-large image-user-2">
      <%# relation = [@meeting.user_one, @meeting.user_two].delete(current_user) %>
      <%#= link_to user_path(current_user == @meeting.user_one ? @meeting.user_one : @meeting.user_two) do %>
      <%= link_to user_path(meeting_relation) do %>
        <% if meeting_relation.photo.present? %>
          <%= cl_image_tag meeting_relation.photo.key %>
        <% else %>
          <%= image_tag("image_not_found.png") %>
        <% end %>
        <%# if @user_two != current_user %>
          <%#= cl_image_tag @user_two.photo.key %>
        <%# elsif @user_one != current_user %>
          <%#= cl_image_tag @user_one.photo.key %>
        <%# else %>
          <%#= image_tag("image_not_found.png") %>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="justify-content-center text-center bg-black p-2 my-3 ">
    <p>Rendez-vous avec <%= @user_one == current_user ? "#{@user_two.first_name} #{@user_two.last_name}" : "#{@user_one.first_name} #{@user_one.last_name} #{@user_one.company_name}" %></p>
    <div class="h3">
      <% @month = @meeting.date.strftime("%B") %>
      <% if @month == "January" %>
        <p><%= @meeting.date.strftime("%d Janvier %Y") %></p>
      <% elsif @month == "February"%>
        <p><%= @meeting.date.strftime("%d Février %Y") %></p>
      <% elsif @month == "March"%>
        <p><%= @meeting.date.strftime("%d Mars %Y") %></p>
      <% elsif @month == "April"%>
        <p><%= @meeting.date.strftime("%d Avril %Y") %></p>
      <% elsif @month == "May"%>
        <p><%= @meeting.date.strftime("%d Mai %Y") %></p>
      <% elsif @month == "June"%>
        <p><%= @meeting.date.strftime("%d Juin %Y") %></p>
      <% elsif @month == "July"%>
        <p><%= @meeting.date.strftime("%d Juillet %Y") %></p>
      <% elsif @month == "August"%>
        <p><%= @meeting.date.strftime("%d Aout %Y") %></p>
      <% elsif @month == "September"%>
        <p><%= @meeting.date.strftime("%d Septembre %Y") %></p>
      <% elsif @month == "October"%>
        <p><%= @meeting.date.strftime("%d Octobre %Y") %></p>
      <% elsif @month == "November"%>
        <p><%= @meeting.date.strftime("%d Novembre %Y") %></p>
      <% elsif @month == "December"%>
        <p><%= @meeting.date.strftime("%d Décembre %Y") %></p>
      <% else %>
        <p><%= @meeting.date.strftime("%d %B %Y") %></p>
      <% end %>
    </div>
    <p class="h5"><%= @meeting.venue_name %></p>
    <p><%= @meeting.venue_address %></p>
    <p><%=%>(x km de chez vous)</p>
  </div>

  <div class="d-flex flex-row justify-content-center">

  <div id="map"
     style="width: 100%;
     height: 300px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
