<div class="background">
  <div class="content-wrapper">
    <div class="cardsphoto">
      <div class="photouser">
        <%= cl_image_tag @user.photo.key %>

      </div>
    <div class="mesinfos">
        <h5><%= @user.first_name %>
        <%= @user.last_name %></h5>
        <p><%= @user.company_name %></p>
        <br>
        <p><%= @user.email %></p>
        <p><%= @user.phone_number %></p>
        <div class="infosuser">
        <p><%= @user.birth_date%></p>
        <br>
        <p><%= @user.address %></p>
        <br>
        <p><%= @user.distance%> Km max</p>
        </div>
      </div>
    </div>

      <%= link_to @user.linkedin do %>
        <%= image_tag 'linkedin.png', class:"linkedin3" %>
      <% end %>
      <div class="cardprofil2">
        <p>" <%= @user.description %> "</p>
      </div>

<div class="cardprofil3">
  <h5 class="entreprise"> Mon entreprise </h5>
  <br>
    <p><%= @user.company_name %></p>
    <p>Chiffre d'affaire : <%= @user.company_ca %> €</p>
    <p>Secteur : <%= @user.company_sector %></p>
  </div>

      <div class="deco mb-3 mt-0 text-center">
        <p><%= link_to "Editer mes infos", edit_user_path(current_user) %></p>
        <% if @user == current_user %>
          <hr>
          <p><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></p>
        <% end %>
      </div>
  </div>
</div>

