<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex direction-row">
  <div class="d-flex">
      <%= link_to root_path, class:"navbar-brand" do %>
        <%= image_tag "logo_foutaters_V2_2.png", class:"logofound" %>
      <% end %>
  </div>

  <div class="d-flex w-0 flex-end" id="navbarSupportedContent">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <% if current_user.photo.attached? && current_user.photo.key.present? %>
            <%= cl_image_tag current_user.photo.key, class: "avatarnav" %>
          <% else %>
            <%= image_tag("image_not_found.png", class: "avatarnav" ) %>
          <% end %>
        <% end %>
      <% else %>
        <div class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
