<div class="navbar-bottom">
  <div class="navbar-elements">

      <div class="navbar-element navbar-dashboard">
        <%= link_to dashboard_path do %>
        <div class="navbar-icon"></div>
        <p class="text-secondary">DASHBOARD</p>
        <% end %>
      </div>

      <div class="navbar-element navbar-calendar">
        <%= link_to meetings_path do %>
        <div class="navbar-icon"></div>
        <%#= image_tag "calendar-icon.svg"%>
        <p class="text-secondary">MEETINGS</p>
        <% end %>
      </div>

      <div class="navbar-element navbar-network">
        <%= link_to networks_path do %>
        <div class="navbar-icon"></div>
        <%#= image_tag "network-icon.svg"%>
        <p class="text-secondary">RÉSEAU</p>
        <% end %>
      </div>

      <!-- <div class="navbar-element navbar-search">
        <%= link_to "#" do %>
        <div class="navbar-icon"></div>
        <%#= image_tag "search-icon.svg"%>
        <p class="text-secondary">STATS</p>
        <% end %>
      </div>
 -->
  </div>
</div>



<!--     <div class="navbar-element">
      <a href=""><i class="fas fa-calendar"></i></a>
      <p>Calendrier</p>
    </div>
    <div class="navbar-element">
      <a href=""><i class="fas fa-users"></i></a>
      <p>Relations</p>
    </div>
    <div class="navbar-element">
      <a href=""><%= image_tag "search-icon.svg"%></a>
      <p>Rechercher</p>
    </div>
    </div>
</div>
  <div class="navbar-element">
    <div class="navbar-icon">
      <i class="fas fa-calendar"></i>
    </div>
    <div class="navbar-desc">
      <p>Calendrier</p>
    </div>
  </div>
  <div class="navbar-element">
    <div class="navbar-icon">
      <i class="fas fa-users"></i>
    </div>
    <div class="navbar-desc">
      <p>Relations</p>
    </div>
  </div>
  <div class="navbar-element">
    <div class="navbar-icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="navbar-desc">
      <p>Rechercher</p>
    </div>
  </div>

 -->
