<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex direction-row">
  <div class="d-flex">
      <%= link_to '#', class:"navbar-brand" do %>
        <%= image_tag "logo_foundaters.png", class:"logofound" %>
      <% end %>
  </div>
  <div class="d-flex w-0 flex-end" id="navbarSupportedContent">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <%= cl_image_tag current_user.photo.key, class: "avatarnav" %>
        <% end %>
      <% else %>
        <div class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
