<div>
  <div class="display-width">
      <div class="dashboard-card">
        <!-- <i class="fas fa-check-circle"></i>
        <i class="fas fa-times-circle"></i> -->
        <% if @next_meeting %>
          <div class="medium-avatar">
            <%= link_to user_path(@user_next_meeting) do %>
              <%= cl_image_tag(@user_next_meeting.photo.key, class: "avatar-large")%>
            <% end %>
          </div>
          <%= link_to meeting_path(@next_meeting) do %>
            <h5>Prochain RDV</h5>
            <div class="user-info">
              <div class="user-details">
                <p><strong><%= @user_next_meeting.first_name%> <%= @user_next_meeting.last_name %></strong></p>
                <p><%= @user_next_meeting.company_name %></p>
              </div>
            </div>
            <div class="meeting-info">
              <p> Au <%= @next_meeting.venue_name %></p>
              <p><%= @next_meeting.date.strftime("%d Mars %Y") %></p>
              <%=  @next_meeting.venue_address %>
            </div>
          <% end %>
        <% end %>
      </div>

<div class= "dash d-flex justify-content-between">
      <div class="dashboard-card-last d-flex flex-column">
        <div class="globallastmeeting">
          <div class="medium-avatarr">
            <%= link_to user_path(@user_last_meeting) do %>
            <%= cl_image_tag(@user_last_meeting.photo.key, class: "avatar-large")%>
            <% end %>
          </div>
        </div>
          <div class= "lastmeetuser">
             <p><%= @user_last_meeting.first_name%> </p>
             <p> <%= @user_last_meeting.last_name %> </p>
              <p><%= @user_last_meeting.company_name %> </p>
          </div>
        <div>
          <%= link_to new_user_review_path(@last_meeting) do %>
        <%= image_tag 'like.png', class:"linkedin1" %>
      <% end %>
        </div>
        <p class= "last-meet text-center pt-2">Dernier RDV</p>
      </div>
      <div class="dashboard-card-last d-flex. flex-column ">
        <h5 class= "last-meet text-center pt-2">MES MEETINGS</h5>
        <br>
        <div class= "groupes">
              <%= link_to networks_path do %>
          <%= image_tag 'group.png', class:"groupescount" %>
        </div>
           <p class= "meetcount text-center h2 m-0"> <%= current_user.meetings.count %> </p>
           <% end %>

      </div>
    </div>
    <div class="dashboard-card text-center d-flex flex-column">
      <div class="availabilities-title">
        <div class="card-title availabilities-header">
          <h6>Mes disponibilités</h6>
          <%= link_to availabilities_path, class:'pencil-icon'  do %>
            <%= image_tag 'pencil.png', class:"pencil-2" %>
          <% end %>
        </div>
      </div>
      <div class="dashboard-availabilities">
        <% @availabilities.each do |availability|%>
          <% if availability.breakfast || availability.lunch || availability.afterwork %>
            <div>
              <div>
                <p><strong><%= Date::DAYNAMES[availability.week_day][0..1] %></strong></p></div>
              </div>
          <% else %>
          <div><p><%= Date::DAYNAMES[availability.week_day][0..1] %></p></div>
          <% end %>
        <% end %>
      </div>
      <div class="dashboard-availabilities">
        <% @availabilities.each do |availability|%>
          <div class="icon-avail">
            <% if availability.breakfast %>
              <i class="fas fa-coffee icon-active"></i>
            <% else %>
              <i class="fas fa-coffee icon-inactive"></i>
              <!-- <br> -->
            <% end %>
            <% if availability.lunch %>
              <i class="fas fa-hamburger icon-active"></i>
              <!-- <br> -->
            <% else %>
              <i class="fas fa-hamburger icon-inactive"></i>
              <!-- <br> -->
            <% end %>
            <% if availability.afterwork %>
              <i class="fas fa-beer icon-active"></i>
              <!-- <br> -->
            <% else %>
              <i class="fas fa-beer icon-inactive"></i>
              <!-- <br> -->
            <% end %>
            <%#= availability.lunch %>
            <%#= availability.afterwork %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
​
​
    <!-- <div class="dashboard-card"> flexbox
      <div>
        <i class="fas fa-users"></i>
        <p>coucou</p>
      </div>
      <div>
        <i class="fas fa-handshake"></i>
        <p>Coucou</p>
      </div>
    </div>
  </div> -->
</div>
