<div>
  <div class="display-width">
    <div class="dashboard-card">
      <i class="fas fa-check-circle"></i>
      <i class="fas fa-times-circle"></i>
      <div class="card-title">
        <h6>Mon prochain rendez-vous</h6>
      </div>
      <div class="user-info">
        <div class="medium-avatar">
          <%= cl_image_tag(@user_next_meeting.photo.key, class: "avatar-large")%>
        </div>
        <div class="user-details">
          <p><strong><%= @user_next_meeting.first_name%> <%= @user_next_meeting.last_name %></strong></p>
          <p><%= @user_next_meeting.company_name %></p>
        </div>
      </div>
      <div class="meeting-info">
        <p><%= @next_meeting.venue_name %></p>
        <p><%= @next_meeting.date %></p>
      </div>
      <div class="center">
        <%= link_to "En savoir plus", meeting_path(@next_meeting) %>
      </div>
    </div>

      <div class="dashboard-card">
        <div class="card-title">
          <h6>Mon dernier rendez-vous</h6>
        </div>
        <div class="user-info">
          <div class="medium-avatar">
            <%= cl_image_tag(@user_last_meeting.photo.key, class: "avatar-large")%>
          </div>
          <div class="user-details">
            <p><strong><%= @user_last_meeting.first_name%> <%= @user_last_meeting.last_name %></strong></p>
            <p><%= @user_last_meeting.company_name %></p>
          </div>
        </div>
        <div class="center">
          <%= link_to "Laisser un commentaire", new_user_review_path(@last_meeting) %>
        </div>
    </div>

    <div class="dashboard-card">
      <div class="card-title">
        <h6>Mes disponibilités</h6>
        <p>Placeholder to display availabilities</p>
      </div>
    </div>

    <div class="dashboard-card">
      <div class="card-title">
        <h6>Juste pour tester</h6>
        <p>Juste pour tester</p>
      </div>
    </div>
  </div>
</div>
