<div>
  <div class="profile-avatar-ban">
    <%= cl_image_tag @user.photo.key, class: "avatar" %>
  </div>
  <div class="display-width">
    <div class="dashboard-card">
      <i class="fas fa-check-circle"></i>
      <i class="fas fa-times-circle"></i>
      <div class="card-title">
        <h6>Mon prochain rendez-vous</h6>
      </div>
      <div class="user-info">
        <div class="medium-avatar">
          <%= cl_image_tag(@user_two.photo.key, class: "avatar-large")%>
        </div>
        <div class="user-details">
          <p><strong><%= @user_two.first_name%> <%= @user_two.last_name %></strong></p>
          <p><%= @user_two.company_name %></p>
        </div>
      </div>
      <div class="meeting-info">
        <p><%= @meeting.venue_name %></p>
        <p><%= @meeting.date %></p>
      </div>
      <div class="center">
        <a href="#", class="btn btn-primary">En savoir plus</a>
      </div>
    </div>

      <div class="dashboard-card">
        <div class="card-title">
          <h6>Mon dernier rendez-vous</h6>
        </div>
        <div class="user-info">
          <div class="medium-avatar">
            <%= cl_image_tag(@user_two.photo.key, class: "avatar-large")%>
          </div>
          <div class="user-details">
            <p><strong><%= @user_two.first_name%> <%= @user_two.last_name %></strong></p>
            <p><%= @user_two.company_name %></p>
          </div>
        </div>
        <div class="center">
          <a href="#", class="btn btn-primary">Laisser un commentaire</a>
        </div>
    </div>

    <div class="dashboard-card">
      <div class="card-title">
        <h6>Mes disponibilités</h6>
        <p>Placeholder to display availabilities</p>
      </div>
    </div>

    <div class="dashboard-card">
      <div class="card-title">
        <h6>Juste pour tester</h6>
        <p>Juste pour tester</p>
      </div>
    </div>
  </div>
</div>
